@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}

@font-face {
    font-family: "BlenderPro";
    src: url(./assets/fonts/BlenderPro/BlenderPro.ttf) format("truetype");
}

@font-face {
    font-family: "Cyberpunk";
    src: url(./assets/fonts/Cyberpunk/Cyberpunk.ttf) format("truetype");
}

@font-face {
    font-family: "Draco";
    src: url(./assets/fonts/Draco/Draco.otf) format("opentype");
}

@font-face {
    font-family: "Play";
    src: url("./assets/fonts/Play/Play.ttf") format("truetype");
}

@font-face {
    font-family: "VT323";
    src: url("./assets/fonts/VT323/ttf/vt323-normal.ttf") format("truetype");
}

* {
    cursor: url(./assets/cursors/arrow.cur), auto;
    box-sizing: border-box;
}

body {
    font-family: "BlenderPro", sans-serif;
    background-color: #222222;
}

button {
    cursor: url(./assets/cursors/link.cur), pointer;
}

a {
    cursor: url(./assets/cursors/link.cur), pointer;
}
